.group {
    padding-inline: 5%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #505050;
}
.group a {
    color: #505050;
    text-decoration: none;
}
.content {
    display: flex;
    flex-direction: column;
}
.divide-line {
    height: 2px;
    margin-block: 16px;
    background-color: var(--theme-color);
}
@media only screen and (min-width: 800px) {
    .vertical-padding-top {
        flex-grow: 1;
    }
    .content {
        flex-grow: 2;
        max-height: 400px;
        flex-direction: row;
    }
    .horizontal-padding {
        flex-grow: 1;
    }
    .divide-line {
        width: 2px;
        height: unset;
        margin-block: unset;
    }
    .vertical-padding-bottom {
        flex-grow: 2;
    }
}
