.errors {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: lightcoral;
}
.error {
    margin: 4px;
    display: flex;
    justify-content: space-between
}
.error>.button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
}
.error>.button:hover {
    background-color: crimson;
}
